$md: 768px;
$blue: #2A56C9;
$lightblue: #e3f2fd;
$black: #111111;
$green: #14B31F;
$red: #FC5A5A;
$grey: #ddd;
$orange: #EA8117;
:root {
  --main: #2A56C9;
  --blue: #{$blue};
  --lightblue: #{$lightblue};
  --green: #{$green};
  --grey: #{$grey};
  --black: #{$black};
  --red: #{$red};
  --orange: #{$orange};
  --md: #{$md}
}
